@model HackerNewsASW.Models.Contribution

@{
    ViewData["Title"] = "Details";
}



<!--
<h1>Details</h1>

<div>
    <h4>Contribution</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Upvotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Upvotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
-->
<body data-new-gr-c-s-check-loaded="14.1006.0" data-gr-ext-installed="" data-gr-ext-disabled="forever">
    <center>
        <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            <tbody>
                <tr id="pagespace" title=@Model.getTitle() style="height:10px"></tr>
                <tr>
                    <td>
                        <table class="fatitem" border="0">
                            <tbody>
                                <tr class="athing" id="26842018">
                                    <td align="right" valign="top" class="title"><span class="rank"></span></td>
                                    <td valign="top" class="votelinks"><center><a id="up_26842018" href="vote?id=26842018&amp;how=up&amp;goto=item%3Fid%3D26842018"><div class="votearrow" title=@Model.Upvotes></div></a></center></td>
                                    <td class="title">
                                        @if (Model.GetType() == typeof(HackerNewsASW.Models.News))
                                        {
                                        <a href="@Model.Content" class="storylink">@Model.getTitle()</a>
                                        <span class="sitebit comhead"> (<a href=@Model.Content><span class="sitestr">@Model.Content.Split("//")[1].Split("/")[0]</span></a>)</span>
                                        }
                                        else
                                        {
                                        <p class="storylink">@Model.getTitle() </p>
                                        }
                                    </td>
                                </tr>
                                @if (Context.User.Identity is null || !Context.User.Identity.IsAuthenticated)
                                            {
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26842018">@Model.Upvotes </span> by <a asp-controller="Account" asp-action="OtherProfile" asp-route-usermail="@Model.Author.Email">@Model.Author.UserId</a> <span class="age">@GetPrettyDate(Model.DateCreated)<a href="item?id=26842018"></a></span> <span id="unv_26842018"></span> | <a href="hide?id=26842018&amp;goto=item%3Fid%3D26842018">hide</a> | <a href="https://hn.algolia.com/?query=Self-Supervised%20Video%20Object%20Segmentation%20by%20Motion%20Grouping&amp;type=story&amp;dateRange=all&amp;sort=byDate&amp;storyText=false&amp;prefix&amp;page=0" class="hnpast">past</a> | <a href="fave?id=26842018&amp;auth=198ae303bcbd9953f9ccf89d70f958761f99e7df">favorite</a> | <a href="item?id=26842018">@Model.Comments.Count comments</a>
                                    </td>
                                </tr>
                                }
                                else {
                                 <tr>
                                    <td colspan="2"></td>
                                    <td class="subtext">
                                        <span class="score" id="score_26842018">@Model.Upvotes </span> by <a asp-controller="Account" asp-action="CheckUser" asp-route-usermail="@Model.Author.Email">@Model.Author.UserId</a> <span class="age">@GetPrettyDate(Model.DateCreated)<a href="item?id=26842018"></a></span> <span id="unv_26842018"></span> | <a href="hide?id=26842018&amp;goto=item%3Fid%3D26842018">hide</a> | <a href="https://hn.algolia.com/?query=Self-Supervised%20Video%20Object%20Segmentation%20by%20Motion%20Grouping&amp;type=story&amp;dateRange=all&amp;sort=byDate&amp;storyText=false&amp;prefix&amp;page=0" class="hnpast">past</a> | <a href="fave?id=26842018&amp;auth=198ae303bcbd9953f9ccf89d70f958761f99e7df">favorite</a> | <a href="item?id=26842018">@Model.Comments.Count comments</a>
                                    </td>
                                </tr>    

                                }
                                <tr style="height:10px"></tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td>
                                        <form asp-controller="Contributions" asp-action="Details">
                                            <textarea asp-for="Content" rows="6" cols="60" value="Clear">a</textarea>
                                            <br><br><input type="submit" value="add comment">
                                        </form>
                                    </td>
                                </tr>
                                <table border="0" class="comment-tree">
                                    <tbody>
                                        @{int i = 1;}
                                        @foreach (var item in Model.Comments)
                                        {
                                        <tr class="athing comtr" id="26842175">
                                            <td>
                                                <table border="0">
                                                    <tbody>
                                                        <tr>

                                                            <td valign="top" class="votelinks">
                                                                <center><a id="up_26842175" href="vote?id=26842175&amp;how=up&amp;goto=item%3Fid%3D26842018"><div class="votearrow" title="upvote"></div></a></center>
                                                            </td>
                                                            @if (Context.User.Identity is null || !Context.User.Identity.IsAuthenticated)
                                            {
                                                            <td class="default">
                                                                <div style="margin-top:2px; margin-bottom:-10px;">
                                                                    <span class="comhead">
                                                                        <a asp-controller="Account" asp-action="OtherProfile" asp-route-usermail="@item.Author.Email">@item.Author.UserId</a> <span class="age"><a href="item?id=26842175">@GetPrettyDate(item.DateCreated)</a></span> <span id="unv_26842175"></span><span class="par"></span> <a class="togg" n="3" href="javascript:void(0)" onclick="return toggle(event, 26842175)">[–]</a>          <span class="storyon"></span>
                                                                    </span>
                                                                </div><br><div class="comment">
                                                                    <span class="commtext c00">@item.Content</span>
                                                                    <div class="reply">
                                                                        <p>
                                                                            <font size="1">
                                                                                <u><a href="reply?id=26842175&amp;goto=item%3Fid%3D26842018%2326842175">reply</a></u>
                                                                            </font>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            }
                                                            else {
                                                            <td class="default">
                                                                <div style="margin-top:2px; margin-bottom:-10px;">
                                                                    <span class="comhead">
                                                                        <a asp-controller="Account" asp-action="CheckUser" asp-route-usermail="@item.Author.Email">@item.Author.UserId</a> <span class="age"><a href="item?id=26842175">@GetPrettyDate(item.DateCreated)</a></span> <span id="unv_26842175"></span><span class="par"></span> <a class="togg" n="3" href="javascript:void(0)" onclick="return toggle(event, 26842175)">[–]</a>          <span class="storyon"></span>
                                                                    </span>
                                                                </div><br><div class="comment">
                                                                    <span class="commtext c00">@item.Content</span>
                                                                    <div class="reply">
                                                                        <p>
                                                                            <font size="1">
                                                                                <u><a href="reply?id=26842175&amp;goto=item%3Fid%3D26842018%2326842175">reply</a></u>
                                                                            </font>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            }
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                            { i++; }
                                        }
                                    </tbody>
                                </table>
                            </tbody>
                        </table><br><br>
                        
                
            </tbody>
        </table>
    </center>


</body>

@functions{
    static string GetPrettyDate(DateTime d)
    {
        // 1.
        // Get time span elapsed since the date.
        TimeSpan s = DateTime.Now.Subtract(d);

        // 2.
        // Get total number of days elapsed.
        int dayDiff = (int)s.TotalDays;

        // 3.
        // Get total number of seconds elapsed.
        int secDiff = (int)s.TotalSeconds;

        // 4.
        // Don't allow out of range values.
        if (dayDiff < 0) return null;

        // 5.
        // Handle same-day times.
        if (dayDiff == 0)
        {
            // A.
            // Less than one minute ago.
            if (secDiff < 60) return "just now";

            // B.
            // Less than 2 minutes ago.
            if (secDiff < 120) return "1 minute ago";

            // C.
            // Less than one hour ago.
            if (secDiff < 3600) return string.Format("{0} minutes ago", Math.Floor((double)secDiff / 60));

            // D.
            // Less than 2 hours ago.
            if (secDiff < 7200) return "1 hour ago";
            // E.
            // Less than one day ago.
            if (secDiff < 86400) return string.Format("{0} hours ago", Math.Floor((double)secDiff / 3600));
        }
        // 6.
        // Handle previous days.
        if (dayDiff == 1) return "yesterday";

        if (dayDiff < 7) return string.Format("{0} days ago", dayDiff);

        //Handle previous weeks
        if (dayDiff < 31) return string.Format("{0} weeks ago", Math.Ceiling((double)dayDiff / 7));

        //Handle previous months
        if (dayDiff < 365) return string.Format("{0} months ago", Math.Ceiling((double)dayDiff / 30.41));

        //Handle previous years
        return string.Format("{0} years ago", Math.Ceiling((double)dayDiff / 365));
    }
}